body {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
  }
  
  table {
    margin: 10px auto;
    border-collapse: collapse;
    box-shadow: 10px 10px 10px #628ca6;
    
  }
  
  td, th {
    text-align: center;
    border: 1px solid #b3b3b3;
    padding: 7px 8.5px;
  }
  
  #top, tfoot td {
    background-color: #7fb9c2;
  }
  
  tfoot {
    font-size: 0.8rem;
  }
  
  #title {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e7ffed;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
  }
  
   .sub-top,.goal-met {
    background-color: #628ca6;
    color: white;
    
  }
  
  .black {
    font-style: italic;
  }