@media screen and (min-width: 760px) {

    nav {
        max-width: 70rem;
        margin: auto;
    }

    nav ul.hide {
        display: flex;
    }


    header img {
        width: auto;
    }
    header h1 {
        font-size: 2rem;
    }
    header h2 {
        font-size: 1.5rem;
    }
    
    nav ul {
        margin-left: 2%;
    }
    
    nav button {
        display: none;
    }


    nav ul li a{
        padding: .8rem 1rem;
        border: none;
    }

    nav ul {
        grid-template-columns : repeat(5,1fr);
        display : flex;
        margin : 0;
        padding : 0;
        }

    nav ul li {
        flex : 1 1 100%;
        list-style-type : none;
        font-size : 1.5rem;
        float: left;
    }

    .weathersummary {
        position : absolute;
        top : 350px;
        left : 20px;
        padding : 1rem;
        background : #1A936F;
        opacity : 0.92;
        color : black;
        border : black solid 1pt;
        box-shadow : 0 0 5px #333;
    }

    img {
        display: block;
        max-width: 100%;
    }

    section#threeday {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    
    }
    
    section#threeday div {
        text-align: center;
        border: 1px solid #aaa;
        background-color: #C5BAAF;
        color: black;
    
    }
    
    section#threeday div h5 {
        background-color: #424B54;
        margin: 0;
        padding: 1rem 0;
    }

    .card section {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    
      .card section:nth-child(odd) img {
        grid-column: 1;
      }
    
      .card section:nth-child(odd) #details {
        grid-column: 2;
        grid-row: 1;
      }


      /*main section .contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    
      main section .contact div.map {
        display: grid;
        width: 100%;
        height: auto;
      }*/
    
      main section .contact div.map iframe {
        width: 300px;
        border-radius: 10px;
      }
    
}