@media only screen and (min-width: 35rem) {

    nav button {
        display: flex;
    }

    nav ul.hide {
        display: flex;
    }


    header img {
        width: auto;
    }
    header h1 {
        font-size: 2rem;
    }
    header h2 {
        font-size: 1.5rem;
    }
    
    nav ul {
        margin-left: 2%;
    }
    
    nav ul li a{
        padding: .8rem 1rem;
        border: none;
    }

    nav ul {
        grid-template-columns : repeat(5,1fr);
        display : flex;
        margin : 0;
        padding : 0;
        }

    nav ul li {
        flex : 1 1 100%;
        list-style-type : none;
        font-size : 1.5rem;
        float: left;
    }

   
    section.weather {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        box-shadow : 0 0 5px #333;
    }



    section.weather div {
        text-align: center;
        border: 1px solid #aaa;
    }
    
    section.weather div h5 {
        background-color: #eee;
        margin: 0;
        padding: 1rem 0;
    }

    .weathersummary {
        position : absolute;
        top : 10px;
        left : 10px;
        padding : 1rem;
        background : #1A936F;
        opacity : 0.92;
        color : white;
        border : black solid 1pt;
        box-shadow : 0 0 5px #333;
    }
    
    
} 